.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
}

.bg-login-image {
	background: url("../img/bg-login.jpg");
	background-position: center;
	background-size: cover;
	border: 20px;
	width: 36vw;
	height: 36vw;
	max-height: 350px;
	margin-bottom: 30px;	
}